* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

.btn-primary {
    background: #F15B22;
    border-radius: 5px;
    padding: 21px 25px;
    height: 64px;
    color: #FFFFFF;
    border: 0;
    text-align: center;
}

.btn-secondary {
    height: 64px;
    font-weight: 600;
    font-size: 20px;
    border-radius: 5px;
    padding: 20px 36px;
    background: #FFFFFF;
    color: #F15B22;
    border: 0;
    text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #151414;
}

p {
    color: #444343;
}

/* Header section style Start */
header {
    background: url(../images/banner/banner2.png);
    height: 800px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.banner {
    padding: 216px 230px 216px 845px;
    text-align: right;
}

.banner-title {
    font-weight: 700;
    font-size: 65px;
    margin-bottom: 24px;
}

.banner-description {
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 32px;
}

/* Header section style End */

/* Main section style start */
main {
    max-width: 1140px;
    margin: 0 auto;
}

/* section style start */
section {
    margin-top: 130px;
}

/* section style end */

/* my-previous-year section style  start*/
.my-previous-year {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 87px;
}

.right-title {
    font-weight: 700;
    font-size: 40px;
}

.right-description {
    font-weight: 400;
    font-size: 16px;
    margin-top: 24px;
    margin-bottom: 16px;
}

.right-desc-list p {
    margin-bottom: 8px;
}

.right-desc-list i {
    color: #16D887;
    font-size: 20px;
}

/* my-previous-year section style  end*/

/* My Plans Section style start */
.section-title {
    text-align: center;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 35px;
}

.plans-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 86px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.plan {
    text-align: center;
}

.plan-title {
    font-weight: 700;
    font-size: 24px;
    margin-top: 24px;
    margin-bottom: 16px;
}

.plan-desc {
    font-weight: 500;
    font-size: 20px;
}

/* My Plans Section style end */

/* my blogs section style start */
.blog-items{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 86px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.blog{
    text-align: center;
}
.blog img{
    width: 400px;
    height: 320px;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
}
.blog-title {
    font-weight: 700;
    font-size: 24px;
    margin-top: 24px;
    margin-bottom: 16px;
}
.blog-desc {
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 20px;
}

/* my blogs section style end  */

/* Call me section style start */
.call-me {
    height: 300px;
    background: -o-linear-gradient(left, #F15B22 0%, rgba(241, 91, 34, 0) 100%), url(../images/watch.png);
    background: -webkit-gradient(linear, left top, right top, from(#F15B22), to(rgba(241, 91, 34, 0))), url(../images/watch.png);
    background: linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0) 100%), url(../images/watch.png);
    border-radius: 8px;
    margin-bottom: 130px;
}

.call-me-info {
    padding: 60px 620px 60px 64px;
}

.info-title {
    font-weight: 700;
    font-size: 40px;
    color: #FFFFFF;
    margin-bottom: 24px;
}

/* Call me section style end */

/* Main section style end */

/* Footer section style start */

.contact {
    background: #151414;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

}

/* future section style start */
.future {
    padding: 130px 230px;
}

.f-title {
    font-weight: 700;
    font-size: 45px;
    color: #F8F8F8;
}

.f-desc {
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    margin-top: 16px;
    margin-bottom: 23px;
}

.social p {
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    margin-bottom: 16px;
}

/* future section style end */

/* subscribe section style start */
.subscribe {
    padding: 130px 230px;
}

.s-title {
    font-weight: 600;
    font-size: 20px;
    color: #F8F8F8;
}

.subscribe input {
    margin-top: 30px;
    margin-bottom: 16px;
    padding: 20px;
    width: 100%;
    background: #151414;
    border: 1px solid gray;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}


/* subscribe section style end */

/* Footer section style end */